body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff8dc;
}

nav {
    background: #fdb913;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    margin-left: auto;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.home {
    text-align: center;
    padding: 30px;
    background: white;
}

.banner {
    width: 90%;
    max-height: 400px;
    object-fit: cover;
}

section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.section-img {
    height: 200px;
    width: 100px;
    max-width: 400px;
    display: block;
    margin-top: 15px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.player-card {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.player-card img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    background: #fdb913;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #f39c12;
}

footer {
    background: #fdb913;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
